<configuration>
    <!-- Stop Hibernate SQL og debug logging -->
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.hibernate.SQL" level="ERROR"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>
